<h1 mat-dialog-title>Composant Menu</h1>
<div mat-dialog-content>
  <p>Selectionner un ingredient</p>
  
  <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="ingredientSelected" name="ingredient">
        <mat-option *ngFor="let Ingredient of arryIngredient" [value]="Ingredient.id">
            {{Ingredient.nom}}
        </mat-option>
    </mat-select>
  </mat-form-field>

  <p>Quantiter necessaire</p>
  <mat-form-field appearance="fill">
    <mat-label>Quantite</mat-label>
    <input type="number" matInput [(ngModel)]="quantiteSelected">
    
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Fermer</button>
    <button mat-button (click)="onValidate(ingredientSelected,quantiteSelected)"  [mat-dialog-close]>Valider</button>
  
</div>